= bootstrap_card t('general.datos') do 
  = form_with(model: carrier, local: true) do |f|
    - if carrier.errors.any?
      = bootstrap_error_alert 'danger' do 
        #error_explanation
          %h5
            = t('activerecord.errors.messages.record_invalid', errors: pluralize(carrier.errors.count, "error"))
          %ul
            - carrier.errors.full_messages.each do |message|
              %li= message
    .form-group
      = f.label t('activerecord.attributes.name')
      = bootstrap_text_field(f, :name)
    .form-group
      = f.label :internal
      = f.check_box :internal
    .text-right
      %br
      = bootstrap_button('primary', t('helpers.links.back'), 'arrow-left', carriers_path)
      = bootstrap_submit_button(f, action)