/ START Sidebar (left)
.aside-inner
  %nav.sidebar{"data-sidebar-anyclick-close" => ""}
    / START sidebar nav
    %ul.nav
      / START user info
      %li.has-user-block
        #user-block.collapse
          .item.user-block
            / User picture
            .user-block-picture
              .user-block-status
                %img.img-thumbnail.img-circle{:alt => "Avatar", :height => "60", :src => "", :width => "60"}/ 
                =#image_path('angle/user/02.jpg')
                .circle.circle-success.circle-lg
            / Name and Job
            .user-block-info
              %span.user-block-name Hello, Mike
              %span.user-block-role Designer
      / END user info
      / Iterates over all sidebar items
      %li.nav-heading
        %span Main Navigation
      - unless current_dealer.grocer? || current_dealer.courier?
        %li{:class => "#{'active' if controller?('dashboard')}"}
          %a{href: root_path, title: t('modules.dashboard')}
            %em.icon-speedometer
            %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.dashboard')
        %li.nav-heading
          %span= t('modules.management')
          %li
            %a{href: new_transaction_path, title: t('modules.sale')}
              %em.fa.fa-cart-arrow-down
              %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.sale')
      %li{:class => "#{'active' if controller?('transactions') && action?('index')}"}
        %a{href: transactions_path, title: t('modules.sale')}
          %em.fa.fa-list-ul
          %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.sales')
        - if current_dealer.courier?
          %li
            %a{href: delivered_path, title: t('modules.delivered')}
              %em.fa.fa-check
              %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.delivered')
        - if current_dealer.admin?
          %li
            %a{href: pendings_path, title: t('modules.finished')}
              %em.fa.fa-check
              %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.finished')
          %li
            %a{href: pendings_not_delivered_path, title: t('modules.finished_not_delivered')}
              %em.fa.fa-close
              %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.finished_not_delivered')
        - if current_dealer.admin? #|| (!current_dealer.courier? && !current_dealer.grocer?)
          %li
            %a{href: new_transaction_path + "?type=3", title: t('modules.returns')}
              %em.fa.fa-undo
              %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.returns')
          %li
            %a{href: new_transaction_path + "?type=1", title: t('modules.returns')}
              %em.fa.fa-cart-plus
              %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.restock')
          %li
            %a{href: restocks_path, title: t('modules.returns')}
              %em.fa.fa-cart-plus
              %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.restocks')
      - if current_dealer.grocer?
        %li
          %a{href: on_route_path, title: t('modules.on_route')}
            %em.fa.fa-car
            %span{"data-localize" => "sidebar.nav.DASHBOARD"}= t('modules.on_route')
      - if current_dealer.admin? || (!current_dealer.courier? && !current_dealer.grocer?)
        %li.nav-heading
          %span= t('modules.catalog').pluralize(I18n.locale)
        %li{:class => "#{'active' if controller?('products')}"}
          %a{href: products_path, title: t('activerecord.models.product').pluralize(I18n.locale)}
            %em.fa.fa-shopping-basket
            %span{"data-localize" => "sidebar.nav.element.ELEMENTS"}= t('activerecord.models.product').pluralize(I18n.locale)
      - if current_dealer.admin?
        %li{:class => "#{'active' if controller?('carriers')}"}
          %a{href: carriers_path, title: t('activerecord.models.carrier').pluralize(I18n.locale)}
            %em.fa.fa-truck
            %span{"data-localize" => "sidebar.nav.element.ELEMENTS"}= t('activerecord.models.carrier').pluralize(I18n.locale)
        %li{:class => "#{'active' if controller?('categories')}"}
          %a{href: categories_path, title: t('activerecord.models.category').pluralize(I18n.locale)}
            %em.fa.fa-bookmark-o
            %span{"data-localize" => "sidebar.nav.element.ELEMENTS"}= t('activerecord.models.category').pluralize(I18n.locale)
        %li{:class => "#{'active' if controller?('characteristics')}"}
          %a{href: characteristics_path, title: t('activerecord.models.characteristic').pluralize(I18n.locale)}
            %em.fa.fa-bars
            %span{"data-localize" => "sidebar.nav.element.ELEMENTS"}= t('activerecord.models.characteristic').pluralize(I18n.locale)
        %li{:class => "#{'active' if controller?('statuses')}"}
          %a{href: statuses_path, title: t('activerecord.models.status').pluralize(I18n.locale)}
            %em.fa.fa-adjust
            %span{"data-localize" => "sidebar.nav.element.ELEMENTS"}= t('activerecord.models.status').pluralize(I18n.locale)
        %li.nav-heading
          %span= t('modules.security')
        %li{:class => "#{'active' if controller?('dealers')}"}
          %a{href: dealers_path, title: t('activerecord.models.dealer').pluralize(I18n.locale)}
            %em.fa.fa-users
            %span{"data-localize" => "sidebar.nav.element.ELEMENTS"}= t('activerecord.models.dealer').pluralize(I18n.locale)
      %li
        %a{href: destroy_dealer_session_path, title: t('activerecord.models.status').pluralize(I18n.locale), 'data-method': :delete}
          %em.fa.fa-sign-out
          %span{"data-localize" => "sidebar.nav.element.ELEMENTS"}= t('general.sign_out')