:javascript
  $(function() {
    $('select').select2({
      theme: "bootstrap"
    });
    $('input[type=text]').prop('disabled', true);
    $('#transaction_carrier_id').val(gon.transaction.carrier_id);
    $('#transaction_carrier_id').prop('disabled', true);
    if ($('#transaction_carrier_id').find(':selected').data('internal')) {
      $('#courier_group').show();
      $('#transaction_courier_id').prop('disabled', true);
    } else {
      $('#courier_group').hide();
    }
  });
- model_class = Transaction
= bootstrap_card_collapse t('general.order_parent') do 
  = form_with(model: transaction, local: true, class: 'form-inline') do |f|
    - if transaction.errors.any?
      = bootstrap_error_alert 'danger' do 
        #error_explanation
          %h5
            = t('activerecord.errors.messages.record_invalid', errors: pluralize(transaction.errors.count, "error"))
          %ul
            - transaction.errors.full_messages.each do |message|
              %li= message
    .form-group{disabled: true}
      .row.row-custom
        .col
          = f.label :description
        .col
          = bootstrap_text_field(f, :description, model_class.human_attribute_name(:description))
    .form-group
      .row.row-custom
        .col
          = f.label :client
        .col
          = bootstrap_text_field(f, :client, model_class.human_attribute_name(:client))
    .form-group
      .row.row-custom
        .col
          = f.label :address
        .col
          = bootstrap_text_field(f, :address, model_class.human_attribute_name(:address))
    .form-group
      .row.row-custom
        .col
          = f.label :address2
        .col
          = bootstrap_text_field(f, :address2, model_class.human_attribute_name(:address2))
    .form-group
      .row.row-custom
        .col
          = f.label :phone
        .col
          = bootstrap_text_field(f, :phone, model_class.human_attribute_name(:phone))
    - unless transaction.delivery_id.nil?
      .form-group
        .row.row-custom
          .col
            = f.label :tracking_number
          .col
            = bootstrap_text_field(f, :tracking_number, model_class.human_attribute_name(:tracking_number))
    .form-group
      .row.row-custom
        .col
          = f.label :carrier
        .col
          = f.select :carrier_id, options_for_select(Carrier.all.map {|c| [c.name, c.id, {'data-internal' => c.internal}]}), prompt: true
    .form-group#courier_group{hidden: true}
      .row.row-custom
        .col
          = f.label t('general.carier')
        .col
          = f.collection_select :courier_id, Dealer.couriers, :id, :name, { prompt: true }, { class: 'form-control' }