= bootstrap_card t('general.datos') do 
  = form_with(model: dealer, local: true) do |form|
    - if dealer.errors.any?
      = bootstrap_error_alert 'danger' do 
        #error_explanation
          %h5
            = t('activerecord.errors.messages.record_invalid', errors: pluralize(dealer.errors.count, "error"))
          %ul
            - dealer.errors.full_messages.each do |message|
              %li= message
    .form-group
      = form.label :name
      = bootstrap_text_field(form, :name)
    .form-group
      = form.label :last_name
      = bootstrap_text_field(form, :last_name)
    .form-group
      = form.label :email
      = bootstrap_text_field(form, :email)
    .form-group
      = form.label :password
      = form.password_field :password, autocomplete: "new-password", class: 'form-control'
    .form-group
      = form.label :phone
      = bootstrap_text_field(form, :phone)
    .form-group
      = form.label :address
      = bootstrap_text_field(form, :address)
    .form-group
      = form.label :comission
      = form.number_field :comission, class: 'form-control', step: :any
    .text-right
      %br
      = bootstrap_btn_icon_split('primary', t('helpers.links.back'), 'arrow-left', dealers_path)
      = bootstrap_submit_icon_split 'success', 'check' do 
        = form.submit action, class: 'btn btn-sm', style: 'color: white;'