= form_with(model: category, local: true) do |f|
  - if category.errors.any?
    = bootstrap_error_alert 'danger' do
      #error_explanation
        %h5
          = t('activerecord.errors.messages.record_invalid', errors: pluralize(category.errors.count, "error"))
        %ul
          - category.errors.full_messages.each do |message|
            %li= message

  .form-group
    = f.label :name
    = bootstrap_text_field(f, :name)
  .text-right
    %br
    = bootstrap_button('primary', t('helpers.links.back'), 'arrow-left', categories_path)
    = bootstrap_submit_button(f, t('helpers.titles.new', model: Category.model_name.human))
