= javascript_include_tag 'data_table_init'

- model_class = Category
- content_for :title, model_class.model_name.human.pluralize(I18n.locale).titleize

- unless notice.nil?
  = bootstrap_notice(notice, alert.nil? ? 'success' : 'danger')
= bootstrap_card t '.title', :default => t('general.list', model: model_class.model_name.human.pluralize(I18n.locale)) do
  .table-responsive
    %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th= model_class.human_attribute_name(:name) 
          %th= t '.actions', :default => t("helpers.actions")
      %tbody
        - @categories.each do |category|
          %tr
            %td= category.name
            %td
              = bootstrap_button('warning', t('helpers.links.edit', model: model_class.model_name.human), 'exclamation-triangle', edit_category_path(category))
              = bootstrap_button_destroy(category)
    %br/
    = bootstrap_button('primary', t('helpers.titles.new_f', model: model_class.model_name.human), 'plus', new_category_path)
