= javascript_include_tag 'data_table_init'

:javascript
  $(function() {
    $('#downloadBtn').click(function() {
      if (gon.closed) {
        if (confirm('Quiere cambiar de estado esta orden?')) {
          $.post('/transactions/' + gon.transaction.id + '/change_status', function(data) {
            console.log('done');
          });
        } else {
          return;
        }
      }
    });
    $('select').select2();
    $('select').change(function(data) {
      console.log($(this).select2('data')[0].text);
      console.log($("#dialog-confirm"));
      if ($(this).select2('data')[0].text == 'Por favor seleccione') return;
      if(confirm("Quiere asignar esta orden al vendedor: " + $(this).select2('data')[0].text + "?")) {
        $.ajax('/asign_courier/', {type: 'POST', data: { transaction_id: $(this)[0].id, transaction: { courier_id: $(this).val() }}}
        ).done(function() {
          const url_path = '/transactions/';
          document.location.href = url_path;
        });
      } else {
        return;
      }
    });
    $('.change_status').click(function(e) {
      console.log(e);
      if (confirm('Esta seguro que quiere cambiar de estado esta orden?')) {
        console.log('success');
      } else {
        e.preventDefault();
        e.stopPropagation();
        return;
      }
    });
  });

- model_class = Transaction
- content_for :title, model_class.model_name.human.pluralize(I18n.locale).titleize

- unless notice.nil?
  = bootstrap_notice(notice, alert.nil? ? 'success' : 'danger')

= bootstrap_card 'Filtros' do
  = search_form_for @transactions_query, url: transactions_path, html: {method: :get, class: 'form-inline'} do |f|
    .form-group
      .row.row-custom
        .col
          = f.label :id
        .col
          = bootstrap_text_field(f, :id_eq, model_class.human_attribute_name(:id))
    .form-group
      .row.row-custom
        .col
          = f.label :client
        .col
          = bootstrap_text_field(f, :client_cont, model_class.human_attribute_name(:client))
    .form-group
      .row.row-custom
        .col
          = f.label :tracking_number
        .col
          = bootstrap_text_field(f, :tracking_number_cont, model_class.human_attribute_name(:tracking_number))
    .form-group
      .row.row-custom
        .col
          = f.label :created_at
        .col
          = bootstrap_text_field(f, :created_at_date_equals, model_class.human_attribute_name(:created_at))
    .form-group
      .row.row-custom
        .col
          = f.label :mensajero
        .col
          = bootstrap_text_field(f, :courier_name_cont, model_class.human_attribute_name(:mensajero))
    .form-group
      .row.row-custom
        .col
          = f.label ''
        .col
          = bootstrap_submit_button(f, 'Buscar')
    .form-group
      .row.row-custom
        .col
          = f.label ''
        .col
          = bootstrap_button('primary', 'Borrar filtros', 'trash', transactions_path)

= bootstrap_card t('.title', :default => t('general.list', model: model_class.model_name.human.pluralize(I18n.locale))) do
  .table-responsive
    %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th= t '.actions', :default => t("helpers.actions")
          %th= model_class.human_attribute_name(:id)
          %th= model_class.human_attribute_name(:tracking_number)
          %th= model_class.human_attribute_name(:description)
          %th= model_class.human_attribute_name(:client)
          %th= model_class.human_attribute_name(:address2)
          %th= model_class.human_attribute_name(:created_at)
          %th= model_class.human_attribute_name(:phone)
          %th= model_class.human_attribute_name(:amount)
          %th= model_class.human_attribute_name(:status)
          %th= t('activerecord.attributes.dealer.courier_custom')
          %th= model_class.human_attribute_name(:dealer)
          %th= model_class.human_attribute_name(:carrier)
      %tbody
        - @transactions.each do |transaction|
          %tr
            %td
              - if transaction.type.int_value == 2 && !transaction.amount.nil? && transaction.amount > 0
                - if !transaction.status.parent.nil?
                  - if transaction.courier.nil? && !transaction.carrier.nil? && transaction.carrier.internal && (current_dealer.grocer? || current_dealer.admin?)
                    = collection_select 'couriers', :courier_id, Dealer.couriers, :id, :custom_name, { prompt: true }, { class: 'form-control', id: transaction.id }
                  - elsif current_dealer.courier? || current_dealer.grocer? || current_dealer.admin?
                    - unless transaction.status.parent.description == 'LIQUIDADA (NO ENTREGADA)'
                      = bootstrap_button_ids('change_status', 'primary change_status', t('general.change_status', status: transaction.status.parent.description), 'arrow-right', transaction_change_status_path(transaction), 'post')
                  - if current_dealer.courier?
                    = bootstrap_button_ids('change_status', 'primary change_status', t('general.change_status', status: 'NO ENTREGADA'), 'arrow-right', transaction_not_delivery_path(transaction), 'post')
                  - if !(current_dealer.courier? || current_dealer.grocer?) && !transaction.carrier.internal
                    = bootstrap_button_ids('change_status', 'primary change_status', t('general.change_status', status: transaction.status.parent.description), 'arrow-right', transaction_change_status_path(transaction), 'post')
              = bootstrap_button('success', nil, 'eye', transaction_transaction_details_path(transaction))
              = bootstrap_button('warning', nil, 'exclamation-triangle', edit_transaction_path(transaction)) if current_dealer.grocer? && transaction.url_reference.nil?
              - if transaction.open?('SALE')
                = bootstrap_button('warning', nil, 'exclamation-triangle', edit_transaction_path(transaction)) unless transaction.closed?('SALE')
              - if transaction.closed?('SALE') && transaction.type.int_value == 2 && !transaction.carrier.internal? && !transaction.url_reference.nil?
                = bootstrap_button_id('downloadBtn', 'warning', nil, 'download', transaction_view_tracking_path(transaction))
              - elsif transaction.type.int_value == 2 && !transaction.open?('SALE') && !transaction.carrier.internal? && !transaction.url_reference.nil?
                = bootstrap_button_id('downloadBtn', 'primary', nil, 'download', transaction.url_reference)
              - if current_dealer.admin? && transaction.open?('SALE')
                = bootstrap_button_destroy(transaction)
              - if current_dealer.admin? && transaction.not_delivery?('SALE') && !transaction.status.parent.nil?
                = bootstrap_button_ids('change_status', 'primary change_status', 'Regresar a stock', 'arrow-right', transaction_return_to_stock_path(transaction), 'post')
            %td= transaction.id
            %td= transaction.tracking_number
            %td
              - transaction.transaction_details.each do |td|
                %span= [td.product.custom_name_order, td.quantity].join(' | ')
            %td= transaction.client
            %td= transaction.address2
            %td= transaction.created_at.strftime('%d/%m/%Y')
            %td= transaction.phone
            %td= transaction.amount
            %td= transaction.status.description unless transaction.status.nil?
            %td= transaction.courier.custom_name unless transaction.courier.nil?
            %td= transaction.dealer.custom_name unless transaction.dealer.nil?
            %td= transaction.carrier.name unless transaction.carrier.nil?
    - unless current_dealer.grocer? || current_dealer.courier?
      %br/
      = bootstrap_button('primary', t('helpers.titles.new', model: model_class.model_name.human), 'plus', new_transaction_path)
