= javascript_include_tag 'data_table_init'

- model_class = Transaction
- content_for :title, model_class.model_name.human.pluralize(I18n.locale).titleize

- unless notice.nil?
  = bootstrap_notice(notice, alert.nil? ? 'success' : 'danger')
= bootstrap_card t('.title', :default => t('general.list', model: model_class.model_name.human.pluralize(I18n.locale))) do
  .table-responsive
    %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th= model_class.human_attribute_name(:tracking_number)
          %th= model_class.human_attribute_name(:id)
          %th= model_class.human_attribute_name(:description)
          %th= model_class.human_attribute_name(:client)
          %th= model_class.human_attribute_name(:address2)
          %th= model_class.human_attribute_name(:phone)
          - unless current_dealer.grocer?
            %th= model_class.human_attribute_name(:amount)
          %th= model_class.human_attribute_name(:status)
          %th= model_class.human_attribute_name(:dealer)
          %th= model_class.human_attribute_name(:type)
          %th= model_class.human_attribute_name(:carrier)
          %th= t '.actions', :default => t("helpers.actions")
      %tbody
        - @transactions.each do |transaction|
          %tr
            %td= transaction.tracking_number
            %td= transaction.id
            %td= transaction.description
            %td= transaction.client
            %td= transaction.address2
            %td= transaction.phone
            - unless current_dealer.grocer?
              %td= transaction.amount
            %td= transaction.status.description unless transaction.status.nil?
            %td= transaction.dealer.custom_name unless transaction.dealer.nil?
            %td= transaction.parameter.text_value unless transaction.parameter.nil?
            %td= transaction.carrier.name unless transaction.carrier.nil?
            %td
              = bootstrap_button('success', t('helpers.links.show', model: model_class.model_name.human), 'eye', transaction_transaction_details_path(transaction))
              - if transaction.open?('SALE')
                = bootstrap_button('warning', t('helpers.links.edit', model: model_class.model_name.human), 'exclamation-triangle', edit_transaction_path(transaction)) unless transaction.closed?('SALE')
              - if current_dealer.admin?
                = bootstrap_button_destroy(transaction)

    - unless current_dealer.grocer? || current_dealer.courier?
      %br/
      = bootstrap_button('primary', t('helpers.titles.new', model: model_class.model_name.human), 'plus', new_transaction_path)
