=# javascript_include_tag 'data_table_init'

:javascript
  $(function() {
    $('#dataTable').DataTable({
      paging: true,
      searching: true,
      ordering: true,
      language: {
        search: 'Buscar',
        paginate: {
          first: 'Primero',
          previous: 'Anterior',
          next: 'Siguiente',
          last: 'Último'
        },
        info: 'Mostrando _START_ de _END_ registros',
        lengthMenu: 'Mostrar _MENU_ registros'
      },
      "footerCallback": function (row, data, start, end, display) {
        var api = this.api();
        api.columns(8, {
          page: 'current'
          }).every(function() {
            var sum = this
              .data()
              .reduce(function(a, b) {
                var x = parseFloat(a) || 0;
                var y = parseFloat(b) || 0;
                return x + y;
              }, 0);
            //console.log(sum); //alert(sum);
            $(this.footer()).html('Q ' + sum.toFixed(2));
          });
        }
      });
  });

- model_class = Transaction
- if @not_pendings
  - content_for :title, "Paquetes no entregados: #{@transactions.count}"
- else
  - content_for :title, model_class.model_name.human.pluralize(I18n.locale).titleize

- unless notice.nil?
  = bootstrap_notice(notice, alert.nil? ? 'success' : 'danger')

= bootstrap_card 'Filtros' do
  = search_form_for @transactions_query, url: @not_pendings ? pendings_not_delivered_path : pendings_path, html: {method: :get, class: 'form-inline'} do |f|
    .form-group
      .row.row-custom
        .col
          = f.label :id
        .col
          = bootstrap_text_field(f, :id_eq, model_class.human_attribute_name(:id))
    .form-group
      .row.row-custom
        .col
          = f.label :client
        .col
          = bootstrap_text_field(f, :client_cont, model_class.human_attribute_name(:client))
    .form-group
      .row.row-custom
        .col
          = f.label :tracking_number
        .col
          = bootstrap_text_field(f, :tracking_number_cont, model_class.human_attribute_name(:tracking_number))
    .form-group
      .row.row-custom
        .col
          = f.label :created_at
        .col
          = bootstrap_text_field(f, :created_at_date_equals, model_class.human_attribute_name(:created_at))
    .form-group
      .row.row-custom
        .col
          = f.label :mensajero
        .col
          = bootstrap_text_field(f, :courier_name_cont, model_class.human_attribute_name(:mensajero))
    .form-group
      .row.row-custom
        .col
          = f.label ''
        .col
          = bootstrap_submit_button(f, 'Buscar')
    .form-group
      .row.row-custom
        .col
          = f.label ''
        .col
          = clear_filter title: 'Borrar filtros', class: 'btn btn-primary', data: {confirm: 'Quieres borrar los filtros?', my_data: 'something'}

= bootstrap_card t('.title', :default => t('general.list', model: model_class.model_name.human.pluralize(I18n.locale))) do
  .table-responsive
    %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th= t '.actions', :default => t("helpers.actions")
          %th= model_class.human_attribute_name(:id)
          %th= model_class.human_attribute_name(:tracking_number)
          %th= model_class.human_attribute_name(:description)
          %th= model_class.human_attribute_name(:client)
          %th= model_class.human_attribute_name(:address2)
          %th= model_class.human_attribute_name(:created_at)
          %th= model_class.human_attribute_name(:phone)
          - unless current_dealer.grocer?
            %th= model_class.human_attribute_name(:amount)
          %th= model_class.human_attribute_name(:status)
          %th= model_class.human_attribute_name(:dealer)
          %th= model_class.human_attribute_name(:carrier)
        %tfoot
          %tr
            - if current_dealer.grocer? || current_dealer.courier?
              %th
            - else
              %th{colspan: 7}
            %th= model_class.human_attribute_name(:total).upcase
            %th
      %tbody
        - @transactions.each do |transaction|
          %tr
            %td
              - if transaction.type.int_value == 2 && !transaction.amount.nil? && transaction.amount > 0
                - unless transaction.status.parent.nil?
                  = bootstrap_button('primary', t('general.change_status', status: transaction.status.parent.description), 'arrow-right', transaction_change_status_path(transaction), 'post')
              = bootstrap_button('success', nil, 'eye', transaction_transaction_details_path(transaction))
              - if transaction.open?('SALE')
                = bootstrap_button('warning', nil, 'exclamation-triangle', edit_transaction_path(transaction)) unless transaction.closed?('SALE')
              - if current_dealer.admin? && transaction.open?('SALE')
                = bootstrap_button_destroy(transaction)
            %td= transaction.id
            %td= transaction.tracking_number
            %td
              - transaction.transaction_details.each do |td|
                %span= [td.product.custom_name_order, td.quantity].join(' | ')
            %td= transaction.client
            %td= transaction.address2
            %td= transaction.created_at.strftime('%d/%m/%Y')
            %td= transaction.phone
            - unless current_dealer.grocer?
              %td= transaction.amount
            %td= transaction.status.description unless transaction.status.nil?
            %td= transaction.dealer.custom_name unless transaction.dealer.nil?
            - if transaction.carrier.internal?
              %td= transaction.courier.custom_name unless transaction.courier.nil?
            - else
              %td= transaction.carrier.name unless transaction.carrier.nil?

    - unless current_dealer.grocer? || current_dealer.courier?
      %br/
      = bootstrap_button('primary', t('helpers.titles.new', model: model_class.model_name.human), 'plus', new_transaction_path)
