!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %meta{:content => "app, responsive, jquery, bootstrap, dashboard, admin", :name => "keywords"}/
    %meta{content: 'Inventory app', name: 'description'}
    %title InventoryMt
    = Gon::Base.render_data
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'base'
    =# stylesheet_link_tag params[:controller]
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'jquery/dist/jquery'
    = javascript_include_tag 'init'
    =# javascript_include_tag 'bootstrap/dist/js/bootstrap'
    =#%script{:src => "https://code.jquery.com/ui/1.12.1/jquery-ui.js"}
  %body
    .wrapper
      %header.topnavbar-wrapper
        = render 'layouts/shared/topnavbar'
      %aside.aside
        = render 'layouts/shared/sidebar'
      %section
        .content-wrapper
          %h3= content_for?(:title) ? yield(:title) : t('brand.name')
          = yield
    = javascript_include_tag 'base'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

=##content-wrapper.d-flex.flex-column
=#  #content
=#    = render 'layouts/shared/topbar'
=#    %a{'data-method': :delete, href: destroy_dealer_session_path} SIGN OUT
=#    .container-fluid
=#      / Page Heading
=#      %h1.h3.mb-2.text-gray-800= content_for?(:title) ? yield(:title) : t('brand.name')
=#      = yield
=#  = render 'layouts/shared/footer'
:javascript
  $(function() {
    /*$('#q_created_at_date_equals').datepicker({
      dateFormat: 'dd/mm/yy'
    });*/
    var dateFormat = "dd/mm/yy", from = $( "#from" ).datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 1,
          dateFormat: dateFormat
      }).on( "change", function() {
        to.datepicker( "option", "minDate", getDate( this ) );
        $('#q_created_at_date_equals').val($('#from').val().toString() + ' to ' + $('#to').val().toString());
      }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 1,
        dateFormat: dateFormat
    }).on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
        $('#q_created_at_between').val('"' + $('#from').val() + '"'+ ' to ' + '"' + $('#to').val() + '"');
    });

    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
      return date;
    }
  });